@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

.background{
  background-color: rgb(155, 155, 226);
}

img{
  display: block;
}

.q{
  float: left;
}

/* header */
nav{
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  border: 1px solid rgb(206, 18, 18);
}

#nav-title{
  color: red;
  font-size: 200%;
  font-family: 'Audiowide', cursive;
  font-weight: bold;
  -webkit-text-stroke-width: 0.001px;
  -webkit-text-stroke-color: rgb(231, 231, 167);
}

.navbar{
  color: blue !important;
}
.header-link{
  text-align: center;
  align-items: center;
  flex-grow: 1;
  width: auto;
  padding: 5px;
  text-decoration: none;
  background-color: rgb(0, 119, 255);
  color: white;
  font-family: 'Audiowide', cursive;
}

#username{
  font-weight: bold;
  color: yellow;
}

/* main */
main{
  font-family: 'Quattrocento', serif;
}

main .title{
  margin-top: 15px;
}

main> p, h2, h3{
  text-align: center;
}

.fill-page{
  min-height: 100vh;
}

.content{
  height: 100%;
}

.content p{
  margin: 0 !important;
}

#kits-content, .app
{
  height: 60vh;
}

.entry{
  margin: 20px;
}
.kit{
  margin: 15px;
}

.kit a{
  text-decoration: none;
}

.kit img{
  max-height: 100%;
  max-width: 100%;
}

.image-field{
  width: 75%;
  border: 2px solid red;
}

.data-field{
  width: 20%;
}

/* form */
input[type="range"]
{
  margin-top: 5px;
  width: 100%;  
}

#searchForm{
  width: 50vw;
  margin: 0 auto;
}

#loginForm, #signupForm{
  width: 50vw;
  margin: 0 auto;
}

#uploadForm{
  height: 20vh;
  width: 50vw;
  margin: 0 auto;
}

form p{
  margin: 0;
  align-self: center;
  color: rgb(77, 0, 128);
}

.form-div{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.form-div label{
  flex-grow: 0.25;
}

.form-div input{
  flex-grow: 4;
}

.detail-page, .btn{
  font-weight: bold;
  font-size: 100%;
  align-self: center;
  margin: 5px;
  font-family: 'Quattrocento', serif;
  background-color: rgb(80, 154, 238);
  color: white;
  padding: 5px 7px;
  border-radius: 3px;
  border: 2px solid rgb(206, 18, 18);
}

.field:not(:last-child)
{
  margin-bottom: .25rem;
}

/* kit detail page specifics */
#kits h2{
  margin-bottom: 5px;
}

#comment-upload form{
  margin-left: 25px;
  margin-bottom: 25px;
  text-align: left;
  width: 100%;
  height: 100%;
}

#comment-upload p{
  margin: 0;
  color: rgb(77, 0, 128);
}

#comment-field{
  max-width: 50% !important;
  min-width: 50% !important;
  margin-bottom: 10px;
  max-height: 100px;
}

.comment-text{
  font-size: 150%;
}

/* footer */
.absolute-footer{
  position: fixed;
  bottom: 0;
  width: 100vw;
}

/* links */
/* header links */
.header-link:hover{
  color: rgb(238, 255, 0);
  background-color: rgb(118, 118, 247);
}

.header-link:active{
  color: rgb(101, 240, 9);
  background-color: rgb(134, 134, 247);
}

/* detail links */
.detail-page:visited{
  color: rgb(248, 147, 147);
  background-color: rgb(144, 27, 155);
  border-color: rgb(255, 0, 0);
}

.detail-page:hover{
  color: rgb(238, 255, 0);
  background-color: rgb(118, 118, 247);
}

.detail-page:active{
  color: rgb(101, 240, 9);
  background-color: rgb(134, 134, 247);
}

/* buttons */
.btn:hover{
  color: rgb(238, 255, 0);
}

.btn:active{
  color: rgb(101, 240, 9);
  background-color: rgb(134, 134, 247);
}